.input-field {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  background-color: #1E293B;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  outline: none;
}

.input-field::placeholder {
  color: #9CA3AF;
}

.input-field:focus {
  box-shadow: 0 0 0 2px #6366F1;
}

.loginHereText span {
  cursor: pointer;
}

.loginHereText span:hover {
  color: #2b6cb0;   /* blue color */
  text-decoration: underline;
}
